@import url("normalize.css"); /* CSS Reset */

* {
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
}

.wrapper {
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

@media (min-width: 769px) {

}

@media (min-width: 1025px) {

}
